<section class="banner partenaires" style="height: auto !important; padding: 70px; background-image: none;">
   <div class="links" style="display: flex; padding: 20px; flex-wrap: wrap;">
        <div style="display: flex; padding: 20px">
            <a href="https://concept-paradise-france.net">
                <img src="{{ app.request.baseUrl }}/assets/club/vincennes/concept_paradise_france.jpg">
            </a>
        </div>
        <div style="display: flex; padding: 20px">
            <a href="https://inisport.com">
                <img src="{{ app.request.baseUrl }}/assets/club/vincennes/logo_ini_sport.png" width="300">
            </a>
        </div>
        <div style="display: flex; padding: 20px">
            <a href="https://www.icibillet.com">
                <img src="{{ app.request.baseUrl }}/assets/club/vincennes/logo_icibillet.png" width="290">
            </a>
        </div>
        <div style="display: flex; padding: 20px">
            <a href="https://gardiennageparis.fr">
                <img src="{{ app.request.baseUrl }}/assets/club/vincennes/logo_gardiennageparis.png" width="260">
            </a>
        </div>
        <div style="display: flex; padding: 20px">
            <a href="https://www.yessanetservice.fr">
                <img src="{{ app.request.baseUrl }}/assets/club/vincennes/logo_yessanetservice.jpg" width="322">
            </a>
        </div>
 
    </div>
</section>