{% extends 'dashboard.html.twig' %}


{% block stylesheets2 %}
	<link rel="stylesheet" href="{{ app.request.baseUrl }}/assets/showcase/style.css">
{% endblock %}


{% block dashboardcontent %}

	<section class="top">
        <div class="title">
            <h1>Hapkido</h1>
        </div>
    </section>

    <section class="hapkidoBanner">
        <img src="{{ app.request.baseUrl }}/assets/showcase/hapkido/hapkido2.jpg" alt="">
        <div class="definitionHapkido">
            <div class="txt">
                <h2>{% trans %}showcase.hapkido.whats.title{% endtrans %}</h2>
                <p>{% trans %}showcase.hapkido.whats.text{% endtrans %}</p>
            </div>
        </div>
    </section>

    <section class="histoireHapkido">
        <img src="{{ app.request.baseUrl }}/assets/showcase/hapkido/hapkido1.jpg" alt="démonstration d'une clé en hapkido">
        <div class="txt">
            <h2>{% trans %}showcase.hapkido.history.title{% endtrans %}</h2>
            <p>{% trans %}showcase.hapkido.history.text{% endtrans %}</p>
        </div>
    </section>

    <section class="principesHapkido">
        <div class="left_img">
            <img src="{{ app.request.baseUrl }}/assets/showcase/hapkido/IMG_0139.JPG" alt="le maître effectue une clé de bras">
        </div>
        <div class="txt">
            <h2>{% trans %}showcase.hapkido.principles.title{% endtrans %}</h2>
            <p>{% trans %}showcase.hapkido.principles.text{% endtrans %}</p>
            <div class="part2">
                <p>{% trans %}showcase.hapkido.principles.text2{% endtrans %}</p>
                <img src="{{ app.request.baseUrl }}/assets/showcase/hapkido/4.jpg" alt="logo Hapkido">
            </div>
        </div>
    </section>

    <section class="cta">
        <h3>{% trans %}showcase.disciplines.other{% endtrans %}</h3>
        <div class="buttons">
            <div><a class="btn" href="{{ app.request.baseUrl }}/taekwonkido">taekwonkido</a></div>
            <div><a class="btn" href="{{ app.request.baseUrl }}/taekwondo">taekwondo</a></div>
            <div><a class="btn" href="{{ app.request.baseUrl }}/sinkido">Sinkido<br><span>self-défense système</span></a></div>
        </div>
    </section>
{% endblock %}
