{% extends 'dashboard.html.twig' %}


{% block stylesheets2 %}
	<link rel="stylesheet" href="{{ app.request.baseUrl }}/assets/showcase/style.css">
{% endblock %}


{% block dashboardcontent %}

    <section class="top">
        <div class="title">
            <h1>Taekwonkido</h1>
        </div>
        
        <div class="banniere">
            <img src="{{ app.request.baseUrl }}/assets/showcase/taekwonkido/bannieretkkd.jpg" alt="bannière taekwonkido combat">
        </div>
    </section>

     <section class="first">
        <div class="d-flex justify-content-center">
            <div class="definition col-md-11 col-lg-7 col-xl-5">
                <h2>{% trans %}showcase.taekwonkido.whats.title{% endtrans %}</h2>
                <p>{% trans %}showcase.taekwonkido.whats.text{% endtrans %} </p>
            </div>
        </div>

        <div class="methods offset-xl-2 col-xl-7 col-md-12 offset-lg-1 col-lg-7 p-0">
                <div class="content">
                <h2>{% trans %}showcase.taekwonkido.methods.title{% endtrans %}</h2>
                <p>{% trans %}showcase.taekwonkido.methods.text{% endtrans %}</p>
                </div>
        </div>
    </section> 
    

   <section class="secondd">
        <div class="image1 d-flex justify-content-center">
            <img src="{{ app.request.baseUrl }}/assets/showcase/taekwonkido/2.jpg" alt="le maître rémi mollet fait une démonstration d'une prise">
        </div>
        <div class="content">
            <div class="technics col-md-12 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
                <h2>{% trans %}showcase.taekwonkido.technics.title{% endtrans %}</h2> 
                <p>{% trans %}showcase.taekwonkido.technics.text{% endtrans %}</p>
            </div>
        </div>
    </section>

    <section class="third d-flex">
        <div class="col-xl-5 col-lg-6 image2">
            <img src="{{ app.request.baseUrl }}/assets/showcase/taekwonkido/tkd1.jpg" alt="deux enfants font un combat de taekwonkido"> 
        </div>
        <div class="utility col-xl-7 col-lg-6">
            <div class="content">
                <h2>{% trans %}showcase.taekwonkido.utility.title{% endtrans %}</h2>
                <p>{% trans %}showcase.taekwonkido.utility.text{% endtrans %}</p> 
            </div>
        </div>
     </section>

     
    <section class="cta">
        <h3>{% trans %}showcase.disciplines.other{% endtrans %}</h3>
        <div class="buttons">
            <div><a class="btn" href="{{ app.request.baseUrl }}/taekwondo">taekwondo</a></div>
            <div><a class="btn" href="{{ app.request.baseUrl }}/hapkido">hapkido</a></div>
            <div><a class="btn" href="{{ app.request.baseUrl }}/sinkido">Sinkido<br><span>self-défense système</span></a></div>
        </div>
    </section>


{% endblock %}
