<nav>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    {% if club is defined and club.uuid is defined %}
    	<div class="logoclub">
        	<div {# style="padding-left: 40px" #}>
        		<a href="{{ app.request.baseUrl }}/club/{{ club.uuid }}">
        			<img src="{{ club._links.logo.href }}" class="logoclubnav"/>
        		</a>
    		</div>
        	<div style="width:100%"></div>
    	</div>
	{% endif %}
    <div class="logo">
        <a href="{{ app.request.baseUrl }}/"><img src="{{ app.request.baseUrl }}/assets/img/logo-taekwonkido.png" alt="logo du logo-taekwonkido"></a>
    </div>

    <ul class="nav-links">
        
        {% if club is defined and club.uuid is defined and menuProperties["menu.club.enabled"] == "true" %}
    		<div class="dropdown">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                	<img src="{{ app.request.baseUrl }}/assets/img/aim.png" class="icon">{% trans  with {'%name%': club.name} %}menu.club name{% endtrans %}
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ app.request.baseUrl }}/club/{{ club.uuid }}"><li class="link">{% trans %}menu.club.home{% endtrans %}</li></a>
                    <a class="dropdown-item" href="{{ app.request.baseUrl }}/club/{{ club.uuid }}/infos"><li class="link">{% trans %}menu.club.sign up conditions{% endtrans %}</li></a>
                    <a class="dropdown-item" href="{{ app.request.baseUrl }}/club/{{ club.uuid }}/infos#prices"><li class="link">{% trans %}menu.club.prices{% endtrans %}</li></a>
                    <a class="dropdown-item" href="{{ app.request.baseUrl }}/club/{{ club.uuid }}/infos#hours"><li class="link">{% trans %}menu.club.hours{% endtrans %}</li></a>
                   	{% if canConfigure == 'true' %}
                    	<div class="dropdown-divider"></div>
                    	<a class="dropdown-item" href="{{ app.request.baseUrl }}/club/{{ club.uuid }}/modify"><li class="link">{% trans %}menu.club.configure{% endtrans %}</li></a>
                    	<a class="dropdown-item" href="{{ app.request.baseUrl }}/club/{{ club.uuid }}/locations"><li class="link">{% trans %}menu.club.configure-locations{% endtrans %}</li></a>
                    	<a class="dropdown-item" href="{{ app.request.baseUrl }}/club/{{ club.uuid }}/prices"><li class="link">{% trans %}menu.club.configure-prices{% endtrans %}</li></a>
                    	<a class="dropdown-item" href="{{ app.request.baseUrl }}/club/{{ club.uuid }}/lessons"><li class="link">{% trans %}menu.club.configure-lessons{% endtrans %}</li></a>
                    	<a class="dropdown-item" href="{{ app.request.baseUrl }}/users?club={{ club.uuid }}"><li class="link">{% trans %}menu.club.configure-users{% endtrans %}</li></a>
                    	{#<a class="dropdown-item" href="#"><li class="link">{% trans %}menu.club.configure-ui{% endtrans %}</li></a>
                    	<a class="dropdown-item" href="#"><li class="link">{% trans %}menu.club.configure-details{% endtrans %}</li></a>#}
                    {% endif %}
                </div>
            </div> 
        {% endif %}

		{% if menuProperties["menu.master.enabled"] == "true" %}
            {% if club is defined and club.uuid is defined and menuProperties["menu.club.enabled"] == "true" %}
                {% include ['club/' ~ club.uuid ~ '/menu-master.html.twig', 'modules/menu-master.html.twig'] %}
            {% else %}
                {% include ['modules/menu-master.html.twig'] %}
            {% endif %}
		{% endif %}
		        
		{% if menuProperties["menu.disciplines.enabled"] == "true" %}
    		<div class="dropdown btn-group">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                	<img src="{{ app.request.baseUrl }}/assets/img/belt.png" class="icon">{% trans %}menu.disciplines{% endtrans %}
                </button>
                <div class="dropdown-menu">
                    {% if lessons %}
                    	<span>dans ce club</span>
                        {% set disciplines = lessons|map(l => l.discipline|lower) %}
                    {% else %}
                    	{% set disciplines = null %}
                    {% endif %}
                    {% if lessons is null or (disciplines is not null and 'taekwonkido' in disciplines) %}
                    	<a class="dropdown-item text-nowrap" href="{{ app.request.baseUrl }}/taekwonkido"><li class="link dropdown-item"> {% trans %}discipline.taekwonkido{% endtrans %}</li></a>
                    {% endif %}
                    {% if lessons is null or (disciplines is not null and 'taekwondo' in disciplines) %}
                    	<a class="dropdown-item" href="{{ app.request.baseUrl }}/taekwondo"><li class="link dropdown-item"> {% trans %}discipline.taekwondo{% endtrans %}</li></a>
                   	{% endif %}
                   	{% if lessons is null or (disciplines is not null and 'hapkido' in disciplines) %}
                    	<a class="dropdown-item" href="{{ app.request.baseUrl }}/hapkido"><li class="link dropdown-item"> {% trans %}discipline.hapkido{% endtrans %}</li></a>
                    {% endif %}
                    {% if lessons is null or (disciplines is not null and 'sinkido' in disciplines) %}
                    	<a class="dropdown-item" href="{{ app.request.baseUrl }}/sinkido"><li class="link dropdown-item"> {% trans %}discipline.sinkido self defense system 2 lines{% endtrans %}</li></a>
					{% endif %}
                    {% if lessons %}
	                    <div class="dropdown-divider"></div>
                    	<span>découvrir dans d'autres clubs</span>
                    {% endif %}
                    {% if disciplines is not null and 'taekwonkido' not in disciplines %}
                    	<a class="dropdown-item text-nowrap" href="{{ app.request.baseUrl }}/taekwonkido"><li class="link dropdown-item"> {% trans %}discipline.taekwonkido{% endtrans %}</li></a>
                    {% endif %}
                    {% if disciplines is not null and 'taekwondo' not in disciplines %}
                    	<a class="dropdown-item" href="{{ app.request.baseUrl }}/taekwondo"><li class="link dropdown-item"> {% trans %}discipline.taekwondo{% endtrans %}</li></a>
                   	{% endif %}
                   	{% if disciplines is not null and 'hapkido' not in disciplines %}
                    	<a class="dropdown-item" href="{{ app.request.baseUrl }}/hapkido"><li class="link dropdown-item"> {% trans %}discipline.hapkido{% endtrans %}</li></a>
                    {% endif %}
                    {% if disciplines is not null and 'sinkido' not in disciplines %}
                    	<a class="dropdown-item" href="{{ app.request.baseUrl }}/sinkido"><li class="link dropdown-item"> {% trans %}discipline.sinkido self defense system 2 lines{% endtrans %}</li></a>
					{% endif %}
                </div>
            </div> 
        {% endif %}
        
        {% if menuProperties["menu.club-list.enabled"] == "true" %}
            {% if club is defined and club.uuid is defined %}
            	<a class="btn link" href="{{ app.request.baseUrl }}/club?select=clear"><img src="{{ app.request.baseUrl }}/assets/img/pin.png" class="icon">{% trans %}menu.club list selected{% endtrans %}</a>
            {% else %}
            	<a class="btn link" href="{{ app.request.baseUrl }}/club"><img src="{{ app.request.baseUrl }}/assets/img/pin.png" class="icon">{% trans %}menu.club list{% endtrans %}</a>
            {% endif %}
        {% endif %}
        
        {# <a class="btn link" href="#"><img src="{{ app.request.baseUrl }}/assets/img/gallery.png" class="icon">{% trans %}menu.gallery{% endtrans %}</a> #}
        
        {# {% if menuProperties["menu.contact.enabled"] == "true" %}
        	<a class="btn link" href="#"><img src="{{ app.request.baseUrl }}/assets/img/question.png" class="icon">{% trans %}menu.contact{% endtrans %}</a>
        {% endif %} #}
 
        {% if menuProperties["menu.connection.enabled"] == "true" %}
        	<div class="dropdown btn-group">
        		{% if app.user is null %}
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    	<img src="{{ app.request.baseUrl }}/assets/img/profile.png" class="icon">
                    	{% if menuProperties["menu.connection.signin.enabled"] == "true" %}{% trans %}menu.connection.title-signin{% endtrans %}{% endif %}
                    	{% if menuProperties["menu.connection.signin.enabled"] == "true" and menuProperties["menu.connection.signup.enabled"] == "true" %}/{% endif %}
                    	{% if menuProperties["menu.connection.signup.enabled"] == "true" %}{% trans %}menu.connection.title-signup{% endtrans %}{% endif %}
                    </button>
                    <div class="dropdown-menu">
                    	{% if menuProperties["menu.connection.signin.enabled"] == "true" %}
                        	<a class="dropdown-item" href="{{ app.request.baseUrl }}/login"><li class="link">{% trans %}menu.connection.signin{% endtrans %}</li></a>
                        {% endif %}
                        {% if menuProperties["menu.connection.signup.enabled"] == "true" %}
                        	<a class="dropdown-item" href="{{ app.request.baseUrl }}/#"><li class="link">{% trans %}menu.connection.signup{% endtrans %}</li></a>
                       	{% endif %}
                    </div>
                {% else %}
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    	<img src="{{ app.request.baseUrl }}/assets/img/profile.png" class="icon">{% trans %}menu.connection.my-account{% endtrans %}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ app.request.baseUrl }}/users/{{ app.user.user.uuid }}"><li class="link">{{ app.user.user.lastname }} {{ app.user.user.firstname }}</li></a>
                        {% if is_granted('ROLE_ADMIN') %}
                        	<a class="dropdown-item" href="{{ app.request.baseUrl }}/config"><li class="link">{% trans %}menu.connection.config{% endtrans %}</li></a>
                        	<a class="dropdown-item" href="{{ app.request.baseUrl }}/clubs"><li class="link">{% trans %}menu.connection.clubs{% endtrans %}</li></a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ app.request.baseUrl }}/logout"><li class="link">{% trans %}menu.connection.logout{% endtrans %}</li></a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
	</ul>
  
</nav>
