{% extends 'dashboard.html.twig' %}



{% block dashboardcontent %}

    {# Bannière centrale #}
    <section class="banner banner_home_imgbg">

       <div class="title">
           <div class="logo">
                <img src="{{ app.request.baseUrl }}/assets/home/logo.jpg" alt="logo taekwonkido">
            </div>
            <div class="name">
                <h1>{% trans %}cenaclerm{% endtrans %}<br>
                <span>{% trans %}home.martialart{% endtrans %}</span></h1>
            </div>
       </div>

       {# boutons animés #}
       <div class="drop">
                <button class="bloc-button">
                        <i class="fas fa-map-marker-alt"></i>
                </button>
                <div class="bloc-text">
                	{% if(cenacleProperties["cenacle.contact.address"] is defined) %}
                        {{ cenacleProperties["cenacle.contact.address"] }}
                    {% else %}
                        cenacle.contact.address
                    {% endif %}<br>
                	{% if(cenacleProperties["cenacle.contact.city"] is defined) %}
                        {{ cenacleProperties["cenacle.contact.city"] }}
                    {% else %}
                        cenacle.contact.city
                    {% endif %}
                </div>
       </div>

       <div class="drop2">
                <button class="bloc-button">
                    <i class="fas fa-phone-alt" aria-hidden="true"></i>
                </button>
                <div class="bloc-text">
                	{% if(cenacleProperties["cenacle.contact.phones"] is defined) %}
                        {{ cenacleProperties["cenacle.contact.phones"] }}
                    {% else %}
                        cenacle.contact.phones
                    {% endif %}
                </div>
       </div>

       <div class="drop3">
            <button class="bloc-button">
                <i class="fas fa-envelope" aria-hidden="true"></i>
            </button>
            <div class="bloc-text">
            	{% if(cenacleProperties["cenacle.contact.emails"] is defined) %}
                    {{ cenacleProperties["cenacle.contact.emails"] }}
                {% else %}
                    cenacle.contact.emails
                {% endif %}
            </div>
        </div>

        <div class="drop4">
            <button class="bloc-button">
                <i class="fas fa-gift"></i>
            </button>
            <div class="bloc-text">
                Un cours d'essai gratuit !
            </div>
        </div>

        {# Boutons disciplines #}

       <div class="buttons">
           <div class="btn"><a href="{{ app.request.baseUrl }}/taekwondo">taekwondo</a></div>
           <div class="btn"><a href="{{ app.request.baseUrl }}/taekwonkido">taekwonkido</a></div>
           <div class="btn"><a href="{{ app.request.baseUrl }}/hapkido">hapkido</a></div>
           <div class="btn sinkido"><a href="/sinkido"><span class="first">sinkido</span><br><span class="second">self-défense système</span></a></div>
       </div>

       {% include 'modules/locale-button.html.twig' %}

       {% block searchclub %}{{ parent() }}{% endblock %}
     
    </section>

    {# Présentation cénacle #}

    <main>

        <h1>{% trans %}home.cenacle.thecenacle{% endtrans %}</h1>

        <section class="ecole">

            <div class="left">
                <img src="{{ app.request.baseUrl }}/assets/home/accueil_1.jpg" alt="le maître rémi mollet donne un coup de poing retourné à son élève">
            </div>

            <div class="text">
                <h2>{% trans %}home.cenacle.ourschool.title{% endtrans %}</h2>
                <p>{% trans %}home.cenacle.ourschool.text{% endtrans %}</p>
            </div>
        </section>

        <section class="clubs">
            <div class="text">
                <h2>{% trans %}home.cenacle.ourclubs.title{% endtrans %}</h2>
                <p>{% trans %}home.cenacle.ourclubs.text{% endtrans %}</p>
            </div>

            <div class="right">
                <img src="{{ app.request.baseUrl }}/assets/home/accueil_2.jpg" alt="le maître montre une technique de défense">
            </div>
        </section>

        <section class="competitions">

            <div class="left">
                <img src="{{ app.request.baseUrl }}/assets/home/accueil_3.jpg" alt="deux élèves s'affrontent en compétition combat">
            </div>

            <div class="text">
                <h2>{% trans %}home.cenacle.thecompetitions.title{% endtrans %}</h2>
                <p>{% trans %}home.cenacle.thecompetitions.text{% endtrans %}</p>
            </div>
        </section>

        <section class="enseignement">
            <div class="content">
                <h2>{% trans %}home.cenacle.ourteaching.title{% endtrans %}</h2>
                <img src="{{ app.request.baseUrl }}/assets/home/accueil_4_pix.jpg" alt="les élèves d'un club et le maître rémi mollet">
                <p>{% trans %}home.cenacle.ourteaching.text{% endtrans %}</p>
            </div>
        </section>

        <section class="methode">
            <div class="left">
                <h2>{% trans %}home.cenacle.ourmethod.title{% endtrans %}</h2>
                <img src="{{ app.request.baseUrl }}/assets/home/accueil_5_2.jpg" alt="deux élèves s'entrainent">
                <p>{% trans %}home.cenacle.ourmethod.text{% endtrans %}</p>
            </div>

            <div class="right">
                <img src="{{ app.request.baseUrl }}/assets/home/accueil_5_1-2.jpg" alt="deux élèves s'affrontent en combat">
            </div>
        </section>


        <section class="cours-ages">
            <div class="title">
                <h2>{% trans %}home.cenacle.accessibility.title{% endtrans %}</h2>
                <p>{% trans %}home.cenacle.accessibility.text{% endtrans %}</p>
            </div>

            <div class="categories">

                <div id="age-baby" class="case">
                    {# Button trigger modal #}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#baby">
                        <h3>{% trans %}home.cenacle.accessibility.baby.title{% endtrans %}</h3>
                        <img src="{{ app.request.baseUrl }}/assets/home/accueil_6_1.jpg">
                    </button>
                    
                    {# Modal #}
                    <div class="modal fade" id="baby" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <img src="{{ app.request.baseUrl }}/assets/icons/baby-boy.svg">
                                    <h5>{% trans %}home.cenacle.accessibility.baby.title{% endtrans %}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>{% trans %}home.cenacle.accessibility.baby.text{% endtrans %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="age-kid" class="case">
                    {# Button trigger modal #}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#kid">
                        <h3>{% trans %}home.cenacle.accessibility.child.title{% endtrans %}</h3>
                        <img src="{{ app.request.baseUrl }}/assets/home/accueil_6_2.jpg">
                    </button>
                    
                    {# Modal #}
                    <div class="modal fade" id="kid" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <img src="{{ app.request.baseUrl }}/assets/icons/children.svg">
                                    <h5>{% trans %}home.cenacle.accessibility.child.title{% endtrans %}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>{% trans %}home.cenacle.accessibility.child.text{% endtrans %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="age-adult" class="case">
                    {# Button trigger modal #}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adult">
                        <h3>{% trans %}home.cenacle.accessibility.adult.title{% endtrans %}</h3>
                        <img src="{{ app.request.baseUrl }}/assets/home/accueil_6_3.jpg">
                    </button>
                    
                    {# Modal #}
                    <div class="modal fade" id="adult" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <img src="{{ app.request.baseUrl }}/assets/icons/adults.svg">
                                    <h5>{% trans %}home.cenacle.accessibility.adult.title{% endtrans %}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>{% trans %}home.cenacle.accessibility.adult.text{% endtrans %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="age-senior" class="case">
                    {# Button trigger modal #}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#senior">
                        <h3>{% trans %}home.cenacle.accessibility.senior.title{% endtrans %}</h3>
                        <img src="{{ app.request.baseUrl }}/assets/home/accueil_6_4.jpg">
                    </button>
                    
                    {# Modal #}
                    <div class="modal fade" id="senior" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <img src="{{ app.request.baseUrl }}/assets/icons/couple.svg">
                                    <h5 class="modal-title" id="exampleModalLabel">{% trans %}home.cenacle.accessibility.senior.title{% endtrans %}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>{% trans %}home.cenacle.accessibility.senior.text{% endtrans %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="partenaires">
            <div class="title">
                <h2>{% trans %}home.cenacle.ourpartners.title{% endtrans %}</h2>
            </div>

            <div class="links">
                
                <div class="case first">
                    <a href="https://taekwonkidotoulon.jimdofree.com/">
                        <img src="{{ app.request.baseUrl }}/assets/home/logo.jpg" style="width: 175px;height: 175px">
                        <h5>{{ "home.cenacle.ourpartners.azur"|trans|raw }}</h5>
                    </a>
                    <h6 class="under-title">{{ "home.cenacle.ourpartners.azur"|trans|raw }}</h6>
                </div>
                <div class="case second">
                    <a href="https://www.fftda.fr/">
                        <img src="{{ app.request.baseUrl }}/assets/partners/fftda.jpg" style="width: 175px;height: 175px">
                        <h5>{{ "home.cenacle.ourpartners.fftda"|trans|raw }}</h5>
                    </a>
                    <h6 class="under-title">{{ "home.cenacle.ourpartners.fftda"|trans|raw }}</h6>
                </div>
                <div class="case third">
                    <a href="http://www.taekwonkido.com/">
                        <img src="{{ app.request.baseUrl }}/assets/partners/LogoTKKD_France.jpg" style="width: 175px;height: 175px">
                        <h5>{{ "home.cenacle.ourpartners.uft"|trans|raw }}</h5>
                    </a>
                    <h6 class="under-title">{{ "home.cenacle.ourpartners.uft"|trans|raw }}</h6>
                </div>
                <div class="case fourth">
                    <a href="http://www.hoshinkidohapkido.com/">
                        <img src="{{ app.request.baseUrl }}/assets/partners/hoshinkido_logo3.png" style="width: 175px;height: 175px">
                        <h5>{{ "home.cenacle.ourpartners.hoshinkido"|trans|raw }}</h5>
                    </a>
                    <h6 class="under-title">{{ "home.cenacle.ourpartners.hoshinkido"|trans|raw }}</h6>
                </div>
                
            </div>

        </section>


        <section class="join">
            <div class="left">
                <img src="{{ app.request.baseUrl }}/assets/home/accueil_7.jpg" alt="deux raquettes de frappe">
            </div>

            <div class="right">
                <h2>{% trans %}home.cenacle.joinus.title{% endtrans %}</h2>
                <p>{% trans %}home.cenacle.joinus.text{% endtrans %}</p>
                {#<div class="btn"><a href="#">{% trans %}home.cenacle.joinus.create{% endtrans %}</a></div>#}
            </div>
        </section>

    </main>

{% endblock %}



{% block javascripts_end_body %}

	{% block searchclubjs %}{{ parent() }}{% endblock %}

{% endblock %}

