{% extends 'dashboard.html.twig' %}


{% block stylesheets2 %}
	<link rel="stylesheet" href="{{ app.request.baseUrl }}/assets/tools/modif.css">
{% endblock %}


{% block dashboardcontent %}

	<br>
    <div class="table-content" style="padding: 20px">
		<form id="myForm">
            <div class="form-group row slimmargin">
                <label for="input-name" class="col-sm-1 col-form-label">Nom</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-name" name="name" value="" required/>
                    <div class="invalid-feedback" id="txtvalid-name"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-website_url" class="col-sm-1 col-form-label">URL</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-website_url" name="website_url" value=""/>
                    <div class="invalid-feedback" id="txtvalid-website_url"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-contact_emails" class="col-sm-1 col-form-label">Emails</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-contact_emails" name="contact_emails" value="" />
                    <div class="invalid-feedback" id="txtvalid-contact_emails"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-mailing_list" class="col-sm-1 col-form-label">Mailing list</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-mailing_list" name="mailing_list" value="" />
                    <div class="invalid-feedback" id="txtvalid-mailing_list"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-contact_phone" class="col-sm-1 col-form-label">Téléphone</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-contact_phone" name="contact_phone" value="" />
                    <div class="invalid-feedback" id="txtvalid-contact_phone"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-facebook_url" class="col-sm-1 col-form-label">Facebook</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-facebook_url" name="facebook_url" value="" />
                    <div class="invalid-feedback" id="txtvalid-facebook_url"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-twitter_url" class="col-sm-1 col-form-label">Twitter</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-twitter_url" name="twitter_url" value="" />
                    <div class="invalid-feedback" id="txtvalid-twitter_url"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-instagram_url" class="col-sm-1 col-form-label">Instagram</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-instagram_url" name="instagram_url" value="" />
                    <div class="invalid-feedback" id="txtvalid-instagram_url"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-dailymotion_url" class="col-sm-1 col-form-label">Dailymotion</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-dailymotion_url" name="dailymotion_url" value="" />
                    <div class="invalid-feedback" id="txtvalid-dailymotion_url"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-youtube_url" class="col-sm-1 col-form-label">Youtube</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-youtube_url" name="youtube_url" value="" />
                    <div class="invalid-feedback" id="txtvalid-youtube_url"></div>       	
                </div>
            </div>

            <div class="form-group row slimmargin">
                <label for="input-uuid" class="col-sm-1 col-form-label">UUID</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-uuid" name="uuid" value="" />
                    <div class="invalid-feedback" id="txtvalid-uuid"></div>       	
                </div>
            </div>

            <div class="form-group row slimmargin">
                <label class="col-sm-1 col-form-label" for="input_active">Actif</label>
                <div class="col-sm-10">
                    <input class="form-check-input" type="checkbox" name="active" id="input_active" value="true" style="margin-left: 0px" checked>
                    <div class="invalid-feedback" id="txtvalid-active"></div>       	
                </div>
            </div>

			<br>
			<br>
            <div class="row" style="flex-wrap: nowrap;">
                <div class="col-sm-10">
                	<a href="javascript:history.back()" class="btn btn-secondary">Annuler</a>
                </div>
                <div class="col-sm-1">
                	<button type="button" class="btn btn-success btncreate" data-url-create="{{ app.request.baseUrl }}/api/club" data-url-onsuccess="{% if app.request.headers.get('referer') is defined %}{{ app.request.headers.get('referer') }}{% else %}{{ app.request.baseUrl }}/clubs{% endif %}">Créer</button>
                </div>
            </div>
        </form>

    </div>

{% endblock %}


{% block javascripts_end_body %}
	<script src="{{ app.request.baseUrl }}/assets/tools/modif.js"></script>
	<script src="{{ app.request.baseUrl }}/assets/club/club-modify.js"></script>
	<script>
		//var modifyDebug = true; // used by tools/modif.js
		//var modifyRequestDebug = true; // used by tools/modif.js
	</script>
{% endblock %}