{% extends 'dashboard.html.twig' %}


{% block stylesheets2 %}
	<link href="{{ app.request.baseUrl }}/assets/club/infos_club.css" rel="stylesheet">
{% endblock %}


{% block dashboardcontent %}

<div class="bannerClub">
    <h1>{% trans %}club.infos.join{% endtrans %}</h1>
</div>

<main>
    <h2 class="main-title">{% trans %}club.infos.how.question{% endtrans %}</h2>

    <div class="first section">
        <div class="left bloc">
            <div class="title">
                <div class="line"></div>
                <h3>{% trans %}club.infos.how.subscribe{% endtrans %}</h3>
                <div class="line"></div>
            </div>

            <div class="content">
                <div class="step">
                    <img src="{{ app.request.baseUrl }}/assets/icons/check-mark.svg">
                    <p>{% trans %}club.infos.how.masterconsent{% endtrans %}</p>
                </div>
                <div class="step">
                    <img src="{{ app.request.baseUrl }}/assets/icons/check-mark.svg">
                    <p>{% trans %}club.infos.how.fillform{% endtrans %}
                    <!-- <br><span>ou alors</span> <a class="online">je m'inscris en ligne</a>--></p>
                </div>
                <div class="step">
                    <img src="{{ app.request.baseUrl }}/assets/icons/check-mark.svg">
                    <p>{% trans %}club.infos.how.pay{% endtrans %}</p>
                </div>
                <div class="step">
                    <img src="{{ app.request.baseUrl }}/assets/icons/check-mark.svg">
                    <p>{% trans %}club.infos.how.docs{% endtrans %}</p>
                </div>
            </div>
        </div>

        <div class="right bloc">
            <div class="title">
                <div class="line"></div>
                <h3>{% trans %}club.infos.docs.title{% endtrans %}</h3>
                <div class="line"></div>
            </div>

            <div class="content">
                <div class="step">
                    <img src="{{ app.request.baseUrl }}/assets/icons/check-mark.svg">
                    <p>{% trans %}club.infos.docs.photos{% endtrans %}</p>
                </div>
                <div class="step">
                    <img src="{{ app.request.baseUrl }}/assets/icons/check-mark.svg">
                    <p>{% trans %}club.infos.docs.certificate{% endtrans %}</p>
                </div>
                <div class="step">
                    <img src="{{ app.request.baseUrl }}/assets/icons/check-mark.svg">
                    <p>{% trans %}club.infos.docs.envelopes{% endtrans %}</p>
                </div>
                <div class="step">
                    <img src="{{ app.request.baseUrl }}/assets/icons/check-mark.svg">
                    <p>{% trans %}club.infos.docs.hkdguys{% endtrans %}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="second section">
        <div class="bloc">
            <div class="title">
                <div class="line"></div>
                <h3>{% trans %}club.infos.notes.title{% endtrans %}</h3>
                <div class="line"></div>
            </div>

            <div class="content">
                <div class="step">
                    <img src="{{ app.request.baseUrl }}/assets/icons/check-mark.svg">
                    <p>{% trans %}club.infos.notes.access3{% endtrans %}</p>
                </div>
                <div class="step">
                    <img src="{{ app.request.baseUrl }}/assets/icons/check-mark.svg">
                    <p>{% trans %}club.infos.notes.allcoursrequired{% endtrans %}</p>
                </div>
                <div class="step">
                    <img src="{{ app.request.baseUrl }}/assets/icons/check-mark.svg">
                    <p>{% trans %}club.infos.notes.rules{% endtrans %}</p>
                </div>
                <div class="step">
                    <img src="{{ app.request.baseUrl }}/assets/icons/check-mark.svg">
                    <p>{% trans %}club.infos.notes.askdocs{% endtrans %}</p>
                </div>
                <div class="step">
                    <img src="{{ app.request.baseUrl }}/assets/icons/check-mark.svg">
                    <p>{% trans %}club.infos.notes.termsandcond{% endtrans %}</p>
                </div>
            </div>
        </div>

    </div>

    <div class="third section">
        <div class="bloc">
            <div class="title">
                <div class="line"></div>
                <h3 id="prices">{% trans %}club.infos.prices.title{% endtrans %}</h3>
                <div class="line"></div>
            </div>

            <div class="content">
                <div class="step">
                    <img src="{{ app.request.baseUrl }}/assets/icons/check-mark.svg">
                    <p>{% trans %}club.infos.prices.dobok{% endtrans %}</p>
                </div>
                <div class="step">
                    <img src="{{ app.request.baseUrl }}/assets/icons/check-mark.svg">
                    <p>{% trans %}club.infos.prices.norefund{% endtrans %}</p>
                </div>
                <div class="step">
                    <img src="{{ app.request.baseUrl }}/assets/icons/check-mark.svg">
                    <p>{% trans %}club.infos.prices.afterexpensive{% endtrans %}</p>
                </div>
                <div class="step">
                    <img src="{{ app.request.baseUrl }}/assets/icons/check-mark.svg">
                    <p>{% trans %}club.infos.prices.traineeship{% endtrans %}</p>
                </div>
                <div class="step">
                    <img src="{{ app.request.baseUrl }}/assets/icons/check-mark.svg">
                    <p>{% trans %}club.infos.prices.payment{% endtrans %}</p>
                </div>
            </div>
        </div>

    </div>

    <div class="fourth section">
        <div class="price">
            <span class="number">29</span>
            <span class="euro">euros</span>
            <span class="text">{% trans %}club.infos.pricesforall.membership{% endtrans %}</span>
        </div>

        <span class="plus">+</span>

        <!-- Button trigger modal -->
        <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
            <div class="price info">
                <div class="front">
                    <span class="number">79</span>
                    <span class="euro">euros</span>
                    <span class="text">{% trans %}club.infos.pricesforall.base.title{% endtrans %}</span>
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <p>{% trans %}club.infos.pricesforall.base.contains{% endtrans %}
                            <ul>
                                <li>{% trans %}club.infos.pricesforall.base.right{% endtrans %}</li> 
                                <li>{% trans %}club.infos.pricesforall.base.dobok{% endtrans %}</li> 
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="price info">
            <div class="front">
                <span class="number">79</span>
                <span class="euro">euros</span>
                <span class="text">{% trans %}club.infos.pricesforall.base.title{% endtrans %}</span>
                <i class="fas fa-angle-down"></i>
            </div>
            <div class="infoHover">
                <p>{% trans %}club.infos.pricesforall.base.contains{% endtrans %}
                    <ul>
                        <li>{% trans %}club.infos.pricesforall.base.right{% endtrans %}</li> 
                        <li>{% trans %}club.infos.pricesforall.base.dobok{% endtrans %}</li> 
                    </ul>
                </p>
            </div>
        </div>

    </div>

    <div class="fifth section">
        <div class="midTitle">
            <span class="plus">+</span>
            <h3>{% trans %}club.infos.contribution.title{% endtrans %}</h3>
            {% if canConfigure == 'true' %}
            	<span><a class="btn btn-warning" href="{{ app.request.baseUrl }}/club/{{ club.uuid }}/prices" role="button">Modifier les tarifs</a></span>
            {% endif %}
        </div>

        <div class="cours">
            {% for price in club.prices %}
                <div class="tarifs">
                    <div class="id">
                    	{% if canConfigure == 'true' %}
                    		<span><a class="btn btn-warning" href="{{ app.request.baseUrl }}/club/{{ club.uuid }}/prices/{{ price.uuid }}" role="button" style="margin: 10px"><i class="fas fa-pencil-alt"></i></a></span>
                    	{% endif %}
                        <h3 class="discipline">{{ price.discipline }}</h3>
                        <h4 class="age">
                            {% if price.category is defined %}{{ price.category }}{% endif %}
                        	{% if price.comment is defined and price.category is defined%}<br>{% endif %}
                        	{% if price.comment is defined %}{{ price.comment }}{% endif %}
                        </h4>
                    </div>
                    <div class="box">
                    	{% if price.child1 is defined %}
                            <div class="{% if price.child2 is defined or price.child3 is defined or price.adult is defined %}one{% endif %} case">
                                <span class="price">{{ price.child1 }}</span>
                                <span class="euros">euros</span>
                                {% if price.child2 is defined or price.child3 is defined %}
                                	<span class="caption">{% trans %}club.infos.contribution.firstchild{% endtrans %}</span>
                                {% else %}
                                	<span class="caption">{% trans %}club.infos.contribution.child{% endtrans %}</span>
                                {% endif %}
                                
                            </div>
                        {% endif %}
                    	{% if price.child2 is defined %}
                            <div class="{% if price.child3 is defined or price.adult is defined %}one{% endif %} case">
                                <span class="price">{{ price.child2 }}</span>
                                <span class="euros">euros</span>
                                <span class="caption">{% trans %}club.infos.contribution.secondchild{% endtrans %}</span>
                            </div>
                        {% endif %}
                    	{% if price.child3 is defined %}
                            <div class="{% if price.adult is defined %}one{% endif %} case">
                                <span class="price">{{ price.child3 }}</span>
                                <span class="euros">euros</span>
                                <span class="caption">{% trans %}club.infos.contribution.thirdchild{% endtrans %}</span>
                            </div>
                        {% endif %}
                    	{% if price.adult is defined %}
                            <div class="case">
                                <span class="price">{{ price.adult }}</span>
                                <span class="euros">euros</span>
                                <span class="caption">{% trans %}club.infos.contribution.adult{% endtrans %}</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="sixth section">
        <div class="bloc">
            <div class="title">
                <div class="line"></div>
                <h3>{% trans %}club.infos.sponsorship.title{% endtrans %}</h3>
                <div class="line"></div>
            </div>

            <div class="content">
                <div class="step">
                    <img src="{{ app.request.baseUrl }}/assets/icons/check-mark.svg">
                    <p>{% trans %}club.infos.sponsorship.advantages1{% endtrans %}</p>
                </div>
                <div class="step">
                    <img src="{{ app.request.baseUrl }}/assets/icons/check-mark.svg">
                    <p>{% trans %}club.infos.sponsorship.advantages2{% endtrans %}</p>
                </div>
                <h4 class="caption2">{% trans %}club.infos.sponsorship.eachstudent{% endtrans %}</h4>

                <div class="board">
                    <div class="boardLeft">
                        <h4>{% trans %}club.infos.sponsorship.table.number{% endtrans %}</h4>
                        <ul>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6 et +</li>
                        </ul>
                    </div>
                    <div class="boardRight">
                        <h4>{% trans %}club.infos.sponsorship.table.advantages{% endtrans %}</h4>
                        <ul>
                            <li>20%</li>
                            <li>35%</li>
                            <li>50%</li>
                            <li>75%</li>
                            <li>{% trans %}club.infos.sponsorship.table.free{% endtrans %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="seven section">
        <div class="bloc">
            <div class="title">
                <div class="line"></div>
                <h3 id="hours">{% trans %}club.infos.hours.title{% endtrans %}</h3>
                <div class="line"></div>
            </div>
            {% if canConfigure == 'true' %}
            	<span><a class="btn btn-warning" href="{{ app.request.baseUrl }}/club/{{ club.uuid }}/locations" role="button">Modifier les adresses</a></span>
             	<span><a class="btn btn-warning" href="{{ app.request.baseUrl }}/club/{{ club.uuid }}/lessons" role="button">Modifier les horaires</a></span>
            {% endif %}
        </div>

        <div class="content">
            <div class="step">
                <img src="{{ app.request.baseUrl }}/assets/icons/check-mark.svg">
                <p>{% trans %}club.infos.hours.taekwonkidocours{% endtrans %}</p>
            </div>
            <div class="step">
                <img src="{{ app.request.baseUrl }}/assets/icons/check-mark.svg">
                <p>{% trans %}club.infos.hours.protects{% endtrans %}</p>
            </div>
            
            {% set days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'] %}
            <div class="board">
            	{% for day in days %}
                    <div class="jour mardi {% if(lessons is defined and lessons|length > 0 and lessons|filter(l => l.day_of_week == day)|length == 0) %}empty{% endif %}">
                        <h4 class="jourName">{{ day|trans }}</h4>
                		{% set rend = (day in startTimeByDays|keys) ? startTimeByDays[day] : 0 %}
                	    {% for i in 0..rend %}
                			<div class="quarter"></div>
                		{% endfor %}
                		{% if(lessons is defined and lessons|length > 0) %}
                            {% for lesson in lessons|filter(l => l.day_of_week == day)|sort((a,b) => a.start_time|replace({':':''})|integer <=> b.start_time|replace({':':''})|integer) %}
                                <div class="case small {{ lesson.discipline|lower }}">
                                    <div class="frontCase">
                                        <h5 class="coursName">{{ lesson.discipline|lower }}</h5>
                                        <h5 class="public">{% if(lesson.age_level is defined) %}{{ lesson.age_level|trans }}{% endif %}</h5>
                                        <h5 class="heure">{{ lesson.start_time }} - {{ lesson.end_time }}</h5>
                                    </div>
                                    <h6 class="adresse">{{ lesson.location.name }}
                                        {% if canConfigure == 'true' %}
                    						<a class="btn btn-warning" href="{{ app.request.baseUrl }}/club/{{ club.uuid }}/lessons/{{ lesson.uuid }}" role="button" style="margin: 10px"><i class="fas fa-pencil-alt"></i></a>
                    	                {% endif %}
                    				</h6>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
                <ol class="carousel-indicators">
                  {% if(lessons is defined and lessons|length > 0) %}
                      {% set firstactive = days|filter(d => lessons|filter(l => l.day_of_week == d))|first %}
                  {% else %}
                      {% set firstactive = 'monday' %}
                  {% endif %}
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" {% if(firstactive == 'monday') %}class="active"{% endif %}></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1" {% if(firstactive == 'tuesday') %}class="active"{% endif %}></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2" {% if(firstactive == 'wednesday') %}class="active"{% endif %}></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3" {% if(firstactive == 'thursday') %}class="active"{% endif %}></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="4" {% if(firstactive == 'friday') %}class="active"{% endif %}></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="5" {% if(firstactive == 'saturday') %}class="active"{% endif %}></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="6" {% if(firstactive == 'sunday') %}class="active"{% endif %}></li>
                </ol>

                <div class="carousel-inner">
					{% for day in days %}
                        <div class="carousel-item {% if(firstactive == day) %}active{% endif %}">
                            <h4 class="jourName">{{ day|trans }}</h4>
                            {% if(lessons is not defined or lessons|length == 0 or lessons|filter(l => l.day_of_week == day)|length == 0) %}
                                <div class="case empty">
                                    <h5 class="coursName">{% trans %}club.infos.planning.nocours{% endtrans %}</h5>
                                </div>
                            {% else %}
                            	{% for lesson in lessons|filter(l => l.day_of_week == day) %}
                                	<div class="case {{ lesson.discipline|lower }}">
                                        <div class="frontCase row">
                                        	<div>
                                                <h5 class="coursName">{{ lesson.discipline|lower }}</h5>
                                                <h5 class="public">{% if(lesson.age_level is defined) %}{{ lesson.age_level|trans }}{% endif %}</h5>
                                                <h5 class="heure">{{ lesson.start_time }} - {{ lesson.end_time }}</h5>
                                            </div>
                                            {% if canConfigure == 'true' %}
                        						<a class="btn btn-warning" href="{{ app.request.baseUrl }}/club/{{ club.uuid }}/lessons/{{ lesson.uuid }}" role="button" style="margin: 10px"><i class="fas fa-pencil-alt"></i></a>
                        	                {% endif %}
                                        </div>
                                        <h6 class="adresse">{{ lesson.location.name }}</h6>
                                    </div>
			                    {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="prev-icon" aria-hidden="true">
                      <img src="{{ app.request.baseUrl }}/assets/icons/next.svg">
                  </span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="next-icon" aria-hidden="true">
                    <img src="{{ app.request.baseUrl }}/assets/icons/next.svg">
                  </span>
                  <span class="sr-only">Next</span>
                </a>
                
            </div>

        </div>
    </div>


</main>

{% endblock %}


{% block javascripts_end_body %}
	<script src="{{ app.request.baseUrl }}/assets/club/infos_club.js"></script>
{% endblock %}
