{% extends 'dashboard.html.twig' %}


{% block stylesheets2 %}
	<link rel="stylesheet" href="{{ app.request.baseUrl }}/assets/tools/modif.css">
{% endblock %}


{% block dashboardcontent %}

	<br>
    <div class="table-content" style="padding: 20px">
    	<h5>Lieu / {{ club.name }}</h5>
		<form id="myForm">
            <div class="form-group row slimmargin">
                <label for="input-name" class="col-sm-1 col-form-label">Nom</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-name" name="name" value="" required/>
                    <div class="invalid-feedback" id="txtvalid-name"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-address" class="col-sm-1 col-form-label">Adresse</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-address" name="address" value="" />
                    <div class="invalid-feedback" id="txtvalid-address"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-zipcode" class="col-sm-1 col-form-label">Code postal</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-zipcode" name="zipcode" value="" />
                    <div class="invalid-feedback" id="txtvalid-zipcode"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-city" class="col-sm-1 col-form-label">Ville</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-city" name="city" value="" />
                    <div class="invalid-feedback" id="txtvalid-city"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-county" class="col-sm-1 col-form-label">Département</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-county" name="county" value="" />
                    <div class="invalid-feedback" id="txtvalid-county"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-country" class="col-sm-1 col-form-label">Pays</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-country" name="country" value="" />
                    <div class="invalid-feedback" id="txtvalid-country"></div>       	
                </div>
            </div>
            <div class="row" style="flex-wrap: nowrap;">
                <div class="col-sm-10">
                	<a href="javascript:history.back()" class="btn btn-secondary">Annuler</a>
                </div>
                <div>
                	<button type="button" class="btn btn-success btncreate" data-url-create="{{ app.request.baseUrl }}/api/club/{{ club.uuid }}/locations" data-url-onsuccess="{{ app.request.baseUrl }}/club/{{ club.uuid }}/locations">Créer</button>
                </div>
            </div>
        </form>

    </div>

{% endblock %}


{% block javascripts_end_body %}
	<script src="{{ app.request.baseUrl }}/assets/tools/modif.js"></script>
	<script>
		//var createDebug = true; // used by tools/modif.js
		//var createRequestDebug = true; // used by tools/modif.js
	</script>
{% endblock %}