
<!-- Bannière centrale -->
<section class="banner banner_club_default banner_club_{{ club.uuid }}">

   <div class="title">
       <div class="logo">
            <img src="{{ club._links.logo.href }}" alt="logo_{{ club.uuid }}">
        </div>
        <div class="name">
            <h1>{{  club.name }}<br>
            	{% for location in club.locations %}
               		{{ location.city }}<br>
               	{% endfor %}
            <span>arts martiaux</span></h1>
        </div>
   </div>

   <!-- boutons animés -->

   <div class="drop">
        <button class="bloc-button">
                <i class="fas fa-map-marker-alt"></i>
        </button>
        <div class="bloc-text">
                Ecole Henri Cahn, Boulevard Galliéni<br>
                94360 Bry-sur-Marne
        </div>
   </div>

   <div class="drop2">
        <button class="bloc-button">
            <i class="fas fa-phone-alt" aria-hidden="true"></i>
        </button>
        <div class="bloc-text">
            06 95 90 44 08
        </div>
   </div>

   <div class="drop3">
        <button class="bloc-button">
            <i class="fas fa-envelope" aria-hidden="true"></i>
        </button>
        <div class="bloc-text">
            remi.mollet@cenaclerm.fr
        </div>
    </div>

    <div class="drop4">
        <button class="bloc-button">
            <i class="fas fa-gift"></i>
        </button>
        <div class="bloc-text">
            Un cours d'essai gratuit !
        </div>
    </div>

    <!-- Boutons disciplines -->
    {% include 'club/disciplines-buttons.html.twig' %}

    {% include 'modules/locale-button.html.twig' %}
</section>