
{#-- Bannière centrale --#}
<section class="banner banner_club_default banner_club_{{ club.uuid }}">

   <div class="title">
       <div class="logo">
            <img src="{{ app.request.baseUrl }}{{ club._links.logo.href }}" alt="logo_{{ club.uuid }}">
        </div>
        <div class="name">
            <h1>{{  club.name }}<br>
            	{% for location in club.locations %}
               		{{ location.city }}<br>
               	{% endfor %}
            <span>{% trans %}club.home.martialarts{% endtrans %}</span></h1>
        </div>
   </div>

   {#-- boutons animés --#}

	<div class="drop">
		<button class="bloc-button">
			<i class="fas fa-map-marker-alt"></i>
		</button>
		<div class="bloc-text">
			{% if(club.locations|length == 1) %}
    			{% for location in club.locations %}
    			    {{ location.address }}<br>{{ location.city }}
    			{% endfor %}
    		{% else %}
    			{% for location in club.locations %}
    			    {{ location.address }}, {{ location.city }}<br>
    			{% endfor %}
    		{% endif %}
		</div>
	</div>
	
	{% set dropNum = 2 %}

	{% if(club.contact_phone is defined) %}
		<div class="drop{{ dropNum }}">
			<button class="bloc-button">
				<i class="fas fa-phone-alt" aria-hidden="true"></i>
			</button>
			<div class="bloc-text">
	            {{ club.contact_phone }}
			</div>
		</div>
		{% set dropNum = dropNum + 1 %}
	{% endif %}

	{% if(club.contact_email is defined) %}
		<div class="drop{{ dropNum }}">
			<button class="bloc-button">
				<i class="fas fa-envelope" aria-hidden="true"></i>
			</button>
			<div class="bloc-text">
				{{ club.contact_email }}
			</div>
		</div>
		{% set dropNum = dropNum + 1 %}
	{% endif %}


    <div class="drop{{ dropNum }}">
        <button class="bloc-button">
            <i class="fas fa-gift"></i>
        </button>
        <div class="bloc-text">
            {% trans %}club.buttons.firstsessionfree{% endtrans %}
        </div>
    </div>

    {#-- Boutons disciplines --#}
    {% include 'club/disciplines-buttons.html.twig' %}
    
    <div class="buttons">
    	<div class="btn"><a href="{{ app.request.baseUrl }}/club/{{ club.uuid }}/infos">Horaires & tarifs</a></div>
    </div>

    {% include 'modules/locale-button.html.twig' %}
</section>