{% extends 'dashboard.html.twig' %}


{% block stylesheets2 %}
	<link rel="stylesheet" href="{{ app.request.baseUrl }}/assets/tools/modif-list.css">
{% endblock %}


{% block dashboardcontent %}

	<br>
    <div class="table-content" style="padding: 20px">
    	<div class="row">
    		<div class="col-sm-10"><h5>Utilisateurs</h5></div>
    		<div><a class="btn btn-success" href="{{ app.request.baseUrl }}/user-new" role="button" style="margin: 10px" title="Ajouter un utilisateur"><i class="fas fa-plus"></i></a></div>
    	</div>
    	<div class="row" style="flex-wrap: nowrap;">
    		<div class="input-group mb-3">
                <input type="text" class="form-control" id="input-search" placeholder="Rechercher" aria-label="Rechercher" aria-describedby="search" value="{% if(app.request.get('q') != null) %}{{ app.request.get('q') }}{% endif %}">
                    <div class="input-group-append">
                    <span class="input-group-text" id="search"><button class="btn btnsearch" type="button" style="padding: 0px"><i class="fas fa-search"></i></button></span>
                </div>
            </div>
    	</div>
    	{% if clubs|length > 2 %}
            <div class="form-group row slimmargin">
                <label for="filter-by-club" class="col-sm-2 col-form-label">Filtrer par club : </label>
                <div class="col-sm-10">
            	<select class="custom-select" id="filter-by-club" name="filter-by-club">
            		<option value="" {% if app.request.get('club') == null %}selected{% endif %}><i>(tous)</i></option>
        			{% for club in clubs|sort((a, b) => a.uuid <=> b.uuid) %}
        				<option value="{{ club.uuid }}" {% if app.request.get('club') == club.uuid %}selected{% endif %}>{% for location in club.locations %}{{ location.city }}{% if not loop.last %}, {% endif %}{% endfor %} ({{ club.name }})</option>
        			{% endfor %}
            	</select>
                </div>
            </div>
        {% endif %}
		<div class="row">
			<div class="col-6 row" style="flex-wrap: nowrap;">
        		<label style="margin: 10px">Afficher</label>
        		{% set numbers = [10, 20, 30, 40, 50, 100]|merge([users.size]) %}
        		<select name="pagesize" class="selectpagesize">
        			{% for number in numbers|sort|reduce((unique, item) => item in unique ? unique : unique|merge([item]), []) %}
        				<option value="{{ number }}" {% if(number == users.size) %}selected{% endif %}>{{ number }}</option>
        			{%  endfor %}
        		</select>
			</div>
			<div class="col-6 row" style="flex-wrap: nowrap;">
            	<label style="margin: 10px">Page</label>
            	{% if(users._links.previous.href is defined) %}
            		<button class="btn btn-info btnpagenextorprevious" type="button" style="margin: 10px" data-url="{{ users._links.previous.href|replace({'/api': ''}) }}"><i class="fas fa-angle-left"></i></button>
            	{% endif %}
            	<label style="margin: 10px">{{ users.page }}</label>
            	{% if(users._links.next.href is defined) %}
            		<button class="btn btn-info btnpagenextorprevious" type="button" style="margin: 10px" data-url="{{ users._links.next.href|replace({'/api': ''}) }}"><i class="fas fa-angle-right"></i></button>
            	{% endif %}
			</div>
		</div>
    	<br>
		<table class="table">
			<thead>
				<th scope="col" class="col-sm-1" style="width: 0% !important;"></th>
				<th scope="col" class="col-sm-1">Nom</th>
				<th scope="col" class="col-sm-1">Naissance</th>
				<th scope="col" class="col-sm-1"></th>
			</thead>
			<tbody>
				{% for user in users._embedded %}
					<tr id="{{ user.uuid }}">
						<td>
						    {% if(user.sex|lower == 'f') %}
						    	<i class="fas fa-venus" style="color: #ff00fc"></i>
						    {% elseif(user.sex|lower == 'm') %}
						    	<i class="fas fa-mars" style="color: #0022ff"></i>
						    {% endif %}
						    {% if(user.roles is defined and "ROLE_ADMIN" in user.roles) %}<i class="fas fa-user-cog" title="Administrateur"></i>{% endif %}
						    {% if(user.roles is defined and "ROLE_TEACHER" in user.roles) %}<i class="fas fa-chalkboard-teacher" title="Professeur"></i>{% endif %}
						    {% if(user.roles is defined and "ROLE_CLUB_MANAGER" in user.roles) %}<i class="fas fa-cube" title="Gestionnaire de club"></i>{% endif %}
						    {% if(user.login is defined) %}<i class="fas fa-key" title="Peut s'authentifier"></i>{% endif %}
						</td>
						<td scope="row" class="deletetext-{{ user.uuid }}">
						    {{ user.lastname }} {{ user.firstname }}
						</td>
						<td>{{ user.birthday.date_fr }} <i>({{ user.birthday.age_in_year }})</i></td>
						<td class="row" style="flex-wrap: nowrap;">
							<a class="btn btn-warning btnupdel" href="{{ app.request.baseUrl }}/users/{{ user.uuid }}" role="button"><i class="fas fa-pencil-alt"></i></a>
							<button class="btn btn-danger btndelete btnupdel" type="button" data-toggle="modal" data-target="#myModal" data-uuid="{{ user.uuid }}"><i class="fas fa-trash"></i></button>
						</td>
					</tr>
   				{% endfor %}
			</tbody>
		</table>


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
	            <div class="modal-content">
   			        <div class="modal-header">
           				<h5 class="modal-title" id="deleteModalLabel">Confirmer la suppression</h5>
			            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        			    	<span aria-hidden="true">&times;</span>
            			</button>
            		</div>
            		<div class="modal-body"></div>
            		<div class="invalid-feedback" id="txtvalid-delete"></div>
            		<div class="modal-footer">
            			<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            			<button type="button" class="btn btn-danger btnconfirmdelete" data-url-prefix="{{ app.request.baseUrl }}/api/users">Supprimer</button>
            		</div>
            	</div>
            </div>
        </div> 
        
        <div class="row" style="flex-wrap: nowrap;">
        	<div class="col-6 row" style="flex-wrap: nowrap;">
            	<label style="margin: 10px">Page</label>
            	{% if(users._links.previous.href is defined) %}
            		<button class="btn btn-info btnpagenextorprevious" type="button" style="margin: 10px" data-url="{{ users._links.previous.href|replace({'/api': ''}) }}"><i class="fas fa-angle-left"></i></button>
            	{% endif %}
            	<label style="margin: 10px">{{ users.page }}</label>
            	{% if(users._links.next.href is defined) %}
            		<button class="btn btn-info btnpagenextorprevious" type="button" style="margin: 10px" data-url="{{ users._links.next.href|replace({'/api': ''}) }}"><i class="fas fa-angle-right"></i></button>
            	{% endif %}
			</div>
        </div>
               
        <div class="row" style="flex-wrap: nowrap;">
            <div class="col-sm-10">
            	<a href="javascript:history.back()" class="btn btn-secondary">Annuler</a>
            </div>
        </div>

    </div>

{% endblock %}


{% block javascripts_end_body %}
	<script src="{{ app.request.baseUrl }}/assets/tools/modif-list.js"></script>

{% endblock %}