{% extends 'dashboard.html.twig' %}


{% block stylesheets2 %}
	<link rel="stylesheet" href="{{ app.request.baseUrl }}/assets/tools/modif.css">
{% endblock %}


{% block dashboardcontent %}

	<br>
    <div class="table-content" style="padding: 20px">
    	<h5>{{ user.lastname }} {{ user.firstname }}</h5>
		<form id="myForm">
            <div class="form-group row slimmargin">
                <label for="input-lastname" class="col-sm-10 col-form-label">Créé le {{ user.created.date_fr }} à {{ user.created.time }}</label>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-lastname" class="col-sm-1 col-form-label">Nom</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-lastname" name="lastname" value="{{ user.lastname }}" required/>
                    <div class="invalid-feedback" id="txtvalid-lastname"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-firstname" class="col-sm-1 col-form-label">Prénom</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-firstname" name="firstname" value="{{ user.firstname }}" required/>
                    <div class="invalid-feedback" id="txtvalid-firstname"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-sex" class="col-sm-1 col-form-label">Sexe</label>
                <div class="col-sm-2" style="margin-right: 20px">
                	<div class="custom-control custom-radio" style="">
                        <input type="radio" id="input-sexf" name="sex" class="custom-control-input" value="F" {% if(user.sex == "F") %}checked{% endif %}>
                        <label class="custom-control-label" for="input-sexf"><i class="fas fa-venus"></i> féminin</label>
                    </div>
                	<div class="custom-control custom-radio">
                        <input type="radio" id="input-sexm" name="sex" class="custom-control-input" value="M" {% if(user.sex == "M") %}checked{% endif %}>
                        <label class="custom-control-label" for="input-sexm"><i class="fas fa-mars"></i> masculin</label>
                    </div>
                </div>
                <div class="invalid-feedback" id="txtvalid-address"></div>       	
            </div>
            <div class="form-group row slimmargin">
                <label for="input-birthday" class="col-sm-1 col-form-label">Naissance</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-birthday" name="birthday" value="{% if(user.birthday is defined) %}{{ user.birthday.date_fr }}{% endif %}"/>
                    <div class="invalid-feedback" id="txtvalid-birthday"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-address" class="col-sm-1 col-form-label">Adresse</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-address" name="address" value="{% if(user.address is defined) %}{{ user.address }}{% endif %}"/>
                    <div class="invalid-feedback" id="txtvalid-address"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-zipcode" class="col-sm-1 col-form-label">Code postal</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-zipcode" name="zipcode" value="{% if(user.zipcode is defined) %}{{ user.zipcode }}{% endif %}"/>
                    <div class="invalid-feedback" id="txtvalid-zipcode"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-city" class="col-sm-1 col-form-label">Ville</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-city" name="city" value="{% if(user.city is defined) %}{{ user.city }}{% endif %}"/>
                    <div class="invalid-feedback" id="txtvalid-city"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-phone" class="col-sm-1 col-form-label">Téléphone</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-phone" name="phone" value="{% if(user.phone is defined) %}{{ user.phone }}{% endif %}"/>
                    <div class="invalid-feedback" id="txtvalid-phone"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-phone_emergency" class="col-sm-1 col-form-label">Téléphone d'urgence</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-phone_emergency" name="phone_emergency" value="{% if(user.phone_emergency is defined) %}{{ user.phone_emergency }}{% endif %}"/>
                    <div class="invalid-feedback" id="txtvalid-phone_emergency"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-mails" class="col-sm-1 col-form-label">Emails</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-mails" name="mails" value="{% if(user.mails is defined) %}{{ user.mails }}{% endif %}"/>
                    <div class="invalid-feedback" id="txtvalid-mails"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-nationality" class="col-sm-1 col-form-label">Nationalité</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-nationality" list="nationalityName" name="nationality" value="{% if(user.nationality is defined) %}{{ user.nationality }}{% endif %}"/>
                    <datalist id="nationalityName">
                        <option value="Afghane">Afghane</option>
                        <option value="Algérienne">Algérienne</option>
                        <option value="Allemand">Allemand</option>
                        <option value="Allemande">Allemande</option>
                        <option value="Anglais">Anglais</option>
                        <option value="Anglaise">Anglaise</option>
                        <option value="Belge">Belge</option>
                        <option value="Bresilien">Brésilien</option>
                        <option value="Bresilienne">Brésilienne</option>
                        <option value="Centrafricain">Centrafricain</option>
                        <option value="Centrafricaine">Centrafricaine</option>
                        <option value="Chinois">Chinois</option>
                        <option value="Chinoise">Chinoise</option>
                        <option value="Congolais">Congolais</option>
                        <option value="Congolaise">Congolaise</option>
                        <option value="Danois">Danois</option>
                        <option value="Danoise">Danoise</option>
                        <option value="Espagnol">Espagnol</option>
                        <option value="Espagnole">Espagnole</option>
                        <option value="Français">Français</option>
                        <option value="Française">Française</option>
                        <option value="Guinéen">Guinéen</option>
                        <option value="Guinéenne">Guinéenne</option>
                        <option value="Inconnue">Inconnue</option>
                        <option value="Irlandais">Irlandais</option>
                        <option value="Irlandaise">Irlandaise</option>
                        <option value="Italien">Italien</option>
                        <option value="Italienne">Italienne</option>
                        <option value="Ivoirien">Ivoirien</option>
                        <option value="Ivoirienne">Ivoirienne</option>
                        <option value="Malgache">Malgache</option>
                        <option value="Malien">Malien</option>
                        <option value="Malienne">Malienne</option>
                        <option value="Marocain">Marocain</option>
                        <option value="Marocaine">Marocaine</option>
                        <option value="Moldave">Moldave</option>
                        <option value="Néerlandais">Néerlandais</option>
                        <option value="Néerlandaise">Néerlandaise</option>
                        <option value="Polonais">Polonais</option>
                        <option value="Polonaise">Polonaise</option>
                        <option value="Portugais">Portugais</option>
                        <option value="Portugaise">Portugaise</option>
                        <option value="Roumain">Roumain</option>
                        <option value="Roumaine">Roumaine</option>
                        <option value="Russe">Russe</option>
                        <option value="Suisse">Suisse</option>
                        <option value="Tunisien">Tunisien</option>
                        <option value="Tunisienne">Tunisienne</option>
                        <option value="Turc">Turc</option>
                    </datalist>
                    <div class="invalid-feedback" id="txtvalid-nationality"></div>       	
                </div>
            </div>
            <div class="form-group row slimmargin">
                <label for="input-uuid" class="col-sm-1 col-form-label">UUID</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" id="input-uuid" name="uuid" value="{{ user.uuid }}" disabled/>
                    <div class="invalid-feedback" id="txtvalid-uuid"></div>       	
                </div>
            </div>
            {% if user.subscribes is defined %}
            	<label for="input-uuid" class="col-sm-12 col-form-label">Lié(e) au(x) club(s) :</label>
            	{% for subscribe in user.subscribes %}
                    <div class="form-group row slimmargin border divsubscribe" style="flex-wrap: nowrap;" >
                     	<div class="col-sm-2">
                     		<div class="form-check">
                                <input class="form-check-input" type="checkbox" {% if canupdatesubscribes == 'true' %}name="subscribe-{{ subscribe.uuid }}-role_student"{% endif %} value="" id="input-role_student-{{ subscribe.uuid }}" {% if('ROLE_STUDENT' in subscribe.roles) %}checked{% endif %} {% if canupdatesubscribes == 'false' %}disabled{% endif %}>
                                <label class="form-check-label" for="input-role_student-{{ subscribe.uuid }}">élève</label>
                            </div>
                     		<div class="form-check">
                                <input class="form-check-input" type="checkbox" {% if canupdatesubscribes == 'true' %}name="subscribe-{{ subscribe.uuid }}-role_teacher"{% endif %} value="" id="input-role_teacher-{{ subscribe.uuid }}" {% if('ROLE_TEACHER' in subscribe.roles) %}checked{% endif %} {% if canupdatesubscribes == 'false' %}disabled{% endif %}>
                                <label class="form-check-label" for="input-role_teacher-{{ subscribe.uuid }}">professeur</label>
                            </div>
                     		<div class="form-check">
                                <input class="form-check-input" type="checkbox" {% if canupdatesubscribes == 'true' %}name="subscribe-{{ subscribe.uuid }}-role_club_manager"{% endif %} value="" id="input-club_manager-{{ subscribe.uuid }}" {% if('ROLE_CLUB_MANAGER' in subscribe.roles) %}checked{% endif %} {% if canupdatesubscribes == 'false' %}disabled{% endif %}>
                                <label class="form-check-label" for="input-club_manager-{{ subscribe.uuid }}">gestionnaire de club</label>
                            </div>
                      	</div>
                      	<div class="col-sm-10">
                      		{% if canupdatesubscribes == 'true' %}
                            	<select class="custom-select" id="input-club_uuid-{{ subscribe.uuid }}" {% if canupdatesubscribes == 'true' %}name="subscribe-{{ subscribe.uuid }}-club_uuid"{% endif %} >
                        			{% for club in clubs|sort((a, b) => a.uuid <=> b.uuid) %}
                        				<option value="{{ club.uuid }}" {% if(subscribe.club.uuid == club.uuid) %}selected{% endif %}>{% for location in club.locations %}{{ location.city }}{% if not loop.last %}, {% endif %}{% endfor %} ({{ club.name }})</option>
                        			{% endfor %}
                            	</select>
                                <div class="invalid-feedback" id="txtvalid-club_uuid"></div>
                                <div style="float: right;">
                                	<button class="btn btn-danger btnremovesubscribe" type="button" style="margin: 5px"><i class="fas fa-trash"></i></button>
                                </div>	
                      		{% else %}
                      			<label for="input-uuid" class="col-sm-10 col-form-label">
                        			{% for club in clubs|filter(c => subscribe.club.uuid == c.uuid) %}
                        				{% for location in club.locations %}{{ location.city }}{% if not loop.last %}, {% endif %}{% endfor %} ({{ club.name }})
                        			{% endfor %}
								</label>
                      		{% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if canupdatesubscribes == 'true' %}
                <div class="form-group row slimmargin border divsubscribereference divsubscribe" style="flex-wrap: nowrap; display: none; visibility: hidden" >
                 	<div class="col-sm-2">
                 		<div class="form-check">
                            <input class="form-check-input" type="checkbox" name="subscribe-${subscid}-role_student" value="" id="input-role_student-${subscid}">
                            <label class="form-check-label" for="input-role_student-${subscid}">élève</label>
                        </div>
                 		<div class="form-check">
                            <input class="form-check-input" type="checkbox" name="subscribe-${subscid}-role_teacher" value="" id="input-role_teacher-${subscid}">
                            <label class="form-check-label" for="input-role_teacher-${subscid}">professeur</label>
                        </div>
                 		<div class="form-check">
                            <input class="form-check-input" type="checkbox" name="subscribe-${subscid}-role_club_manager" value="" id="input-club_manager-${subscid}">
                            <label class="form-check-label" for="input-club_manager-${subscid}">gestionnaire de club</label>
                        </div>
                  	</div>
                  	<div class="col-sm-10">
                    	<select class="custom-select" id="input-club_uuid-${subscid}" name="subscribe-${subscid}-club_uuid">
                			{% for club in clubs|sort((a, b) => a.uuid <=> b.uuid) %}
                				<option value="{{ club.uuid }}">{% for location in club.locations %}{{ location.city }}{% if not loop.last %}, {% endif %}{% endfor %} ({{ club.name }})</option>
                			{% endfor %}
                    	</select>
                        <div class="invalid-feedback" id="txtvalid-club_uuid"></div>
                        <div style="float: right;">
                        	<button class="btn btn-danger btnremovesubscribe" type="button" style="margin: 5px"><i class="fas fa-trash"></i></button>
                        </div>	
                    </div>
                </div>
                <div class="form-group row slimmargin border" style="flex-wrap: nowrap;">
                	<button class="btn btn-info btnaddsubscribe" type="button" style="margin: 10px"><i class="fas fa-plus"></i> Ajouter un club</button>
                </div>
            {% endif %}
            {% if(user.login is defined) %}
                <div class="form-group row slimmargin">
                    <label for="input-login" class="col-sm-1 col-form-label">Identifiant</label>
                    <div class="col-sm-10">
                    	<input type="text" class="form-control" id="input-login" name="login" value="{{ user.login }}"/>
                        <div class="invalid-feedback" id="txtvalid-login"></div>       	
                    </div>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="form-group row slimmargin">
                        <label class="col-sm-1 col-form-label" for="input_admin">Administrateur</label>
                        <div class="col-sm-10">
    	                    <input class="form-check-input" type="checkbox" name="admin" id="input_admin" value="true" style="margin-left: 0px" {% if user.roles['ROLE_ADMIN'] is defined %}checked{% endif %}{% if user.myself is defined %}disabled{% endif %}>
                            <div class="invalid-feedback" id="txtvalid-admin"></div>       	
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            
			<br><br>

            <div class="row" style="flex-wrap: nowrap;">
                <div class="col-sm-10">
                	<a href="javascript:history.back()" class="btn btn-secondary">Annuler</a>
                </div>
                <div class="col-sm-1">
                	<button type="button" class="btn btn-warning btnmodify" data-url-update="{{ app.request.baseUrl }}/api/users/{{ user.uuid }}" data-url-onsuccess="{% if app.request.headers.get('referer') is defined %}{{ app.request.headers.get('referer') ~ '#' ~ user.uuid }}{% else %}{{ app.request.baseUrl }}/users{% endif %}">Modifier</button>
                </div>
            </div>
        </form>

    </div>

{% endblock %}


{% block javascripts_end_body %}
	<script src="{{ app.request.baseUrl }}/assets/tools/modif.js"></script>
	<script src="{{ app.request.baseUrl }}/assets/user/modif.js"></script>
	<script>
		//var modifyDebug = true; // used by tools/modif.js
		var modifyRequestDebug = true; // used by tools/modif.js
	</script>
{% endblock %}